<section class="p-2">
  <div class="mx-auto space-y-5">
    <!-- Header -->
    <div class="flex items-center justify-between">
      <div>
        <h1 class="text-xl font-semibold text-gray-700">Leave List</h1>
        <p class="text-sm text-zinc-500 mt-0.5">Applied Leave List</p>
      </div>
      <button (click)="openForm(null)" class="btn-primary">+ Apply Leave</button>
    </div>
  </div>

  <!-- Leave Table -->
  <app-table [columns]="columnsDef" [pageData]="pageData" [loading]="loading()" (queryChange)="onQueryChange($event)">

    <ng-template appCell="startDate" let-row>
      <strong>{{ row.startDate | date}} - {{ row.endDate | date}}</strong>
    </ng-template>

    <ng-template appCell="totalDays" let-row>
      <span class="inline-flex items-center px-3 py-1 rounded-full text-xs font-medium bg-red-800 text-red-50">
        {{ row.totalDays }}
      </span>
    </ng-template>

    <ng-template appCell="leaveTypeName" let-row>
      <span class="inline-flex items-center px-3 py-1 rounded-full text-xs font-medium bg-indigo-300 text-indigo-900">
        {{ row.leaveTypeName }}
      </span>
    </ng-template>

    <ng-template appCell="status" let-row>
      <span class="inline-flex items-center px-3 py-1 rounded-full text-xs font-medium"
        [class]="getStatusClass(row.status)">
        {{ row.status }}
      </span>
    </ng-template>
  </app-table>
</section>



<!-- Leave Form Modal -->
@if (showForm()) {
<app-leave-form (onSaved)="onSaved()" (onCancelled)="showForm.set(false)" />
}
