<section class="p-2">
  <div class="mx-auto space-y-5">

    <div class="flex items-center justify-between">
      <div>
        <h1 class="text-xl font-bold text-slate-900 tracking-tight">Employee List</h1>
        <p class="text-sm text-zinc-500 mt-0.5">
          Manage employee information and details.
        </p>
      </div>
      <button (click)="openForm(null)" class="btn-primary">
        + Add user
      </button>
    </div>

    <!-- Employee table -->
    <app-table [columns]="columnsDef" [pageData]="pageData" [loading]="loading()" (queryChange)="onQueryChange($event)">

      <!-- Custom cell templates can be defined here -->
      <ng-template appCell="firstName" let-row>
        <strong>{{ row.firstName }} {{ row.lastName }}</strong>
      </ng-template>

      <!--
        Action column — parent fully owns the buttons.
      -->
      <ng-template #actions let-row>
        <button (click)="openViewDetails(row.id)" class="viewBtn">View</button>
        <button (click)="openAsignRole(row.id)" class="editBtn">Asign Role</button>
        <button (click)="openForm(row.id)" class="editBtn">Edit</button>
        @if(hasDeletePermission) {
        <button (click)="confirmDelete(row)"
          class=" cursor-pointer inline-flex items-center gap-1 px-3 py-1.5 rounded-lg text-xs font-medium bg-red-50 text-red-600 hover:bg-red-100 transition-colors">
          Delete
        </button>
        }
      </ng-template>
    </app-table>
  </div>
</section>


<!-- Employee Form Modal -->
@if (showForm()) {
<app-employee-form (onSaved)="onSaved()" [employee]="employee()" (onCancelled)="showForm.set(false)" />
}

<!-- Employee View Modal -->
<!-- @if (showView()) {
<app-employee-view (onClose)="showView.set(false)" [employee]="employee()!" />
} -->

@if (showView()) {
 <app-dialog title="Employee Details" (close)="showView.set(false)" sizeClass="max-w-md md:max-w-2xl" [closeOnBackdrop]="true">
   <app-profile [employeeId]="selectedEmployeeId()!" />
  </app-dialog>
}

<!-- Employee Asign Role Modal -->
@if (showAsignRole()) {
<app-role-assign (onCompleted)="onAsigned()" [employeeId]= "selectedEmployeeId()!" (onCancelled)="showAsignRole.set(false)" />
}
